* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-family: arial;
  color: #445162;
  font-size: 30px;
}

header {
  max-width: 1280px;
  height: 323px;
  background-color: #445162;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_list {
  height: 323px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header_list h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 300;
}

header .header_list ul {
  list-style-type: none;
}

header .link_header {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  line-height: 36px;
}

header .link_header::before {
  content: url(img/check.png);
  margin-right: 10px;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  font-family: arial;
  -ms-flex-line-pack: center;
      align-content: center;
}

main section {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about {
  height: 323px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 660px;
  height: 223px;
  margin-bottom: 40px;
  line-height: 22px;
}

main .pluse {
  text-align: center;
  height: 420px;
  background-color: #f5f5f5;
  position: relative;
}

main .pluse .pluse_text {
  padding: 50px 0 20px 0;
}

main .pluse .pluses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
  position: absolute;
  left: 8.5%;
  font-size: 15px;
}

main .pluse .pluses li {
  max-width: 43%;
  margin: 0px 80px 20px 0px;
  position: relative;
  line-height: 24px;
}

main .pluse .pluses li:before {
  content: url(img/plus.png);
  position: absolute;
  left: -8%;
  top: 6%;
}

main .screenshots {
  height: 490px;
  width: 1280px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .screenshots ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  position: relative;
  list-style-type: none;
}

main .screenshots li {
  width: 29%;
  text-align: left;
  line-height: 24px;
  position: relative;
  left: 9%;
  margin: 0 30px 25px 30px;
}

main .screenshots h3 {
  color: #445162;
  font-size: 22px;
  margin: 0 0 10px 0;
}

main .screenshots li:before {
  content: "";
  width: 200px;
  height: 150px;
  background-color: #445162;
  display: inline-block;
  position: absolute;
  left: -60%;
}

main .screenshots h2 {
  margin: 50px 0 60px 0;
}

main .rewiews {
  height: 424px;
  background-color: #f5f5f5;
  text-align: center;
}

main .rewiews .rewiews_block {
  margin: 0 0 0 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .rewiews .rewiews_block .rewiews_item {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  margin: 0px 20px 30px 20px;
}

main .rewiews .rewiews_block .rewiews_item .rewiews_img {
  min-width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #445162;
  margin-right: 30px;
}

main .rewiews h2 {
  padding: 40px 0 30px 0;
}

main .rewiews_item p {
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 6px;
  line-height: 20px;
  font-size: 14px;
  font-style: italic;
  position: relative;
}

main span {
  margin: 7px 0 0;
  display: block;
  color: #838383e0;
}

main .rewiews_item p:before {
  content: "";
  display: block;
  position: absolute;
  border: 13px solid transparent;
  border-right: 13px solid #ebebeb;
  top: 17%;
  left: -5%;
}

main .price {
  height: 650px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .price .price_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
}

main .price .price_block .price_standart {
  width: 300px;
  height: 300px;
  background-color: #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .price .price_block .price_premium {
  width: 300px;
  height: 400px;
  background-color: #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .price .price_block .price_lux {
  width: 300px;
  height: 500px;
  background-color: #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .price .price_block .price_list {
  text-align: left;
  color: white;
  font-size: 14px;
  line-height: 24px;
}

main .price .price_block .price_btn {
  width: 260px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

main .price .price_block .price_btn:hover {
  background: #bdbdbd;
}

main .price_block h2 {
  color: white;
  margin-top: 15px;
  font-size: 24px;
}

main .price_block h3 {
  color: #445162;
  background-color: white;
  padding: 6px;
  margin: 0 2px 0 2px;
  font-size: 40px;
  width: 294px;
}

footer {
  height: 530px;
  width: 1280px;
  background-color: #445162;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contacts_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contacts_block .send_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  margin-right: 30px;
  height: 330px;
}

footer .contacts_block .send_item .input_footer {
  height: 40px;
  border-radius: 6px;
  border: none;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

footer .contacts_block .send_item textarea {
  height: 150px;
  border-radius: 6px;
  border: none;
  padding: 10px 0 0 20px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

footer .contacts_block .send_item .send_btn {
  width: 140px;
  height: 40px;
  border-radius: 6px;
  border: none;
  margin: 0 auto;
  font-size: 18px;
}

footer .contacts_block .links_item {
  margin-left: 30px;
  position: relative;
}

footer .contacts_block .links_item .links_list {
  color: white;
  text-decoration: none;
  list-style-type: none;
  line-height: 38px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

footer .contacts_block .links_item .list:hover {
  color: #bdbdbd;
}

footer .contacts_block .links_item .skype_icon:before {
  content: url(img/skype.png);
  position: absolute;
  top: -18%;
  left: -18%;
}

footer .contacts_block .links_item .icq_icon:before {
  content: url(img/icq.png);
  position: absolute;
  top: -18%;
  left: -40%;
}

footer .contacts_block .links_item .email_icon:before {
  content: url(img/email.png);
  position: absolute;
  top: -18%;
  left: -22%;
}

footer .contacts_block .links_item .phone_icon:before {
  content: url(img/phone.png);
  position: absolute;
  top: -18%;
  left: -26%;
}

footer .contacts_block .links_item .soc_incons {
  position: absolute;
  left: -20%;
  top: 56%;
}

footer .end {
  background-color: white;
  width: 100%;
  text-align: center;
  color: #636363;
}

footer h3 {
  color: white;
  text-align: center;
  padding-top: 30px;
}
/*# sourceMappingURL=style.css.map */